:root {
  --containerDim: 700px;
}

body {
  min-height: 100vh;
  /* overflow: hidden; */
  background-color: midnightblue;
}

.container {
  padding: 20px;
  border: 5px solid lavender;
  width: var(--containerDim);
  height: var(--containerDim);
  background-color: mediumslateblue;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

button {
  font-size: 1.1em;
  color: mediumslateblue;
  background-color: lavender;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all .15s;
}

button:hover {
  background-color: mediumslateblue;
  color: lavender;
}

button:active {
  background-color: rgb(105, 88, 201);
}

.remove {
  position: absolute;
  top: 20px;
  right: 20px;
}

.prompt {
  position: absolute;
  top: 20px;
  left: 20px;
}