:root {
  --containerDim: 700px;
}

* {
  user-select: none;
}

body {
  width: 1500px;
  margin: auto;
  min-height: 100vh;
  background-color: peachpuff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 200px;
  font-size: 1.1em;
  color: black;
  background-color: lavender;
  padding: 20px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s;
}

button:hover {
  background-color: mediumslateblue;
  color: lavender;
}

button:active {
  background-color: rgb(105, 88, 201);
}

.container {
  padding: 0px;
  /* height: 800px; */
  width: var(--containerDim);
  height: var(--containerDim);
  background-color: rgb(247, 247, 247);
  border: 10px solid black;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.rangeContainer {
  height: 200px;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rangeContainer h1 {
  font-size: 2rem;
}

.rangeContainer p {
  font-size: 2rem;
}

.rangeInput {
  appearance: none;
  border-radius: 20px;
  background-color: rgb(117, 102, 102);
  height: 10px;
  transform: scale(1.3);
  outline: none;
}

.rangeInput:hover {
  background-color: rgb(148, 130, 130);
}

.rangeValue {
  text-align: center;
}

.buttons {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.buttons h1 {
  border-bottom: 2px solid black;
  font-size: 3rem;
  margin: 0;
}

#colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#colorPicker::-webkit-color-swatch {
  border-radius: 5px;
  border: 1px solid black;
}

.activeButton {
  color: lavender;
  background-color: mediumslateblue;
}

.square {
  user-select: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: darkslategray;
  font-size: 1.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
